.tabs {
  justify-content: center;
  border: unset;
}
.tabs li {
  flex-basis: unset !important;
  flex-grow: unset !important;
  margin-bottom: unset !important;
}
.tabs .nav-link {
  color: #7e7c7c;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-size: 0.65rem;
  border-radius: unset;
  padding: 0.4rem 1.5rem !important;
}
.tabs .nav-link.active {
  border: 1px solid var(--second) !important;
  border-bottom: 1px solid var(--second) !important;
}
.tabs + .card {
  box-shadow: unset;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}
.project {
  width: 25% !important;
  height: 200px !important;
  padding: 0.1rem;
}
.project .bg-picture {
  position: relative;
}
.project .mask {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--second);
  opacity: 0;
  transition: 0.2s all;
}
.project:hover .mask,
.project:hover .title {
  opacity: 1;
}
.project .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Open Sans" !important;
  text-transform: uppercase;
  z-index: 1;
  opacity: 0;
  text-align: center;
}

.left,
.right {
  position: absolute;
  top: 50%;
  z-index: 2;
  height: 20px;
  cursor: pointer;
}
.left {
  left: 2%;
}
.right {
  right: 2%;
}
.owl-carousel {
  padding-left: 6rem;
  padding-right: 6rem;
}

.gallery {
  padding-top: 1rem;
  padding-bottom: 4rem;
}

@media (max-width: 992px) {
  .project {
    width: 50% !important;
  }
}

@media (max-width: 600px) {
  .owl-carousel {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 400px) {
  .project {
    width: 100% !important;
  }
}
